<html>

    <head></head>

    <body>
        <h1>Hello ${username}</h1>
        <p>This email was sent to verify your authentication.</p>
        <p>Please enter this code in telegram to confirm your account</p>
        <p>${code}</p>
    </body>

</html>